@-webkit-keyframes nav-border_animation {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}

@keyframes nav-border_animation {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}

/* ------------------------------ */

@-webkit-keyframes fadeWithScale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeWithScale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ------------------------------ */

@-webkit-keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* ------------------------------ */

@keyframes product_list_link_animation {
  from {
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mb_menu_btn_animation {
  from {
    transform: translate(-45%, 100px);
  }
}
@keyframes close_btn_animation {
  from {
    transform: translateX(100px);
  }
}

@keyframes mb_sidebar_animation {
  from {
    transform: translateX(-80px);
  }
}
