* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-image: url("../img/bg.png");
  background-size: 40%;
  font-family: "Almarai", sans-serif;
  height: 2000vh;
  scroll-behavior: smooth;
  /* zoom: 0.85; */
}

a {
  text-decoration: none;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.516);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(154, 119, 11);
}

@media screen and (max-width: 700px) {
  html,
  body {
    background-size: 150%;
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  html,
  body {
    font-size: 14px;
  }
}

.flex {
  display: flex;
}

.items-center-v-h {
  justify-content: center;
  align-items: center;
}

.items-center-h {
  justify-content: center;
}

.items-center-sb {
  justify-content: space-between;
}

.items-center-se {
  justify-content: space-evenly;
}

.dir-row{
  flex-direction: row;
}
.dir-column{
  flex-direction: column;
}

.items-row-reverse {
  flex-direction: row-reverse;
}
