* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-image: url("../img/bg.png");
  background-size: 40%;
  font-family: "Almarai", sans-serif;
  scroll-behavior: smooth;
  vertical-align: baseline;
  overflow-wrap: break-word;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  scroll-behavior: smooth;
  height: 100vh; 
}

.main-container {
  margin-top: 220px;
}

@media screen and (max-width: 460px) {
  .main-container {
    margin-top: 160px;
  }
}

body[blank-content-open] {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.body-container {
  /* position: relative; */
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

@media screen and (max-width: 550px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.516);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(154, 119, 11);
}

@media screen and (max-width: 700px) {
  html,
  body {
    background-size: 150%;
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  html,
  body {
    font-size: 14px;
  }
}

.no-display {
  /* display: none !important; */
}

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.items-center-v-h {
  justify-content: center;
  align-items: center;
}

.items-center-h {
  justify-content: center;
}

.items-center-v {
  align-items: center;
}

.items-align-f-end {
  align-items: flex-end;
}

.item-align-fs {
  align-content: flex-start;
}

.items-center-sb {
  justify-content: space-between;
}

.items-center-se {
  justify-content: space-evenly;
}

.dir-row {
  flex-direction: row;
}
.dir-column {
  flex-direction: column;
}

.items-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}
