/* #region - Header > logo > banner */

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo-header {
  background: rgba(0, 0, 0, 0.58);
  background-image: url("../img/dots_design.png");
  background-repeat: repeat-x;
  background-size: 70px auto;
  background-position: 100px;
}

.log-content {
  width: 100%;
  height: 100%;
}

.logo-img {
  /* width: 100%; */
  width: 140px;
  transition: 300ms all;
}

.header-min .logo-img {
  /* width: 100px; */
}

.mb-logo-banner {
  background: #ffffff;
  display: none;
  padding: 4px 0;
}

.mb-logo-banner img {
  width: 30px;
}

.mb-logo-banner p {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 18px;
}

@media screen and (max-width: 550px) {
  .header-container {
    background-position: 84px 35px;
    background-size: 60px auto;
  }

  .logo-img {
    width: 140px;
  }

  .header-min .logo-img {
    width: 0px;
    opacity: 0;
  }

  .header-min .mb-logo-banner {
    display: flex;
  }
}

.banner-content {
  background: var(--main-color);
  text-align: center;
  padding: 8px 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner-content p {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

/* #endregion */

/* #region - mobile btn */
.mb-menu-btn {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: 12px;
  background: var(--mobile-menu-btn-bg);
  z-index: 3;
  border-radius: 14px;
  border: var(--mobile-menu-btn-border);
  border-bottom: 6px solid #527676;
}

.mb-menu-btn.hide {
  display: none;
}

@media screen and (max-width: 460px) {
  .mb-menu-btn {
    /* display: block; */
  }
}

.mb-menu-btn .content-wrapper {
  height: 100%;
  width: 100%;
}

.menu-svg {
  width: 36px;
  height: 30px;
}

/* #endregion */

/* #region - nav-menu */

.navbar-container {
  margin-top: 14px;
  background: #fcfcfc;
  border: 1px solid #ccac56;
  border-right: none;
  border-left: none;
}

@media screen and (max-width: 460px) {
  .navbar-container {
    display: none;
  }
}

.navbar-container .menu-content {
  display: flex;
  width: 100%;
  max-width: 470px;
}

.navbar-container .menu-content {
  color: var(--main-color);
  padding: 0 5px;
}

.navbar-container .menu-content .navbar-item {
  cursor: pointer;
  padding: 8px 0;
  transition: 150ms border;
  position: relative;
}

.navbar-container .menu-content .navbar-item.active::after {
  content: "";
  position: absolute;

  height: 5px;
  border-radius: 30px;
  background: var(--nav-menu-selected-border-color);
  bottom: -4px;
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  animation: nav-border_animation 0.4s cubic-bezier(1, -0.06, 0.58, 1) forwards;
}

.navbar-container .menu-content .navbar-item a {
  color: var(--main-color);
  font-size: 1.2rem;
  padding: 0 8px;

  pointer-events: none;
}

.navbar-container .menu-content .navbar-item a:hover {
  color: rgba(24, 24, 24, 0.412);
}

/* #endregion */

/* #region - sidebar nav-menu */

.blank-content {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: #050404e2;
  z-index: 100;
  pointer-events: auto;
  animation: fadeAnimation 0.2s;
}

.blank-content.show {
  display: block;
  overflow: hidden;
}

.blank-content-open .sidebar-container {
  display: block;
}

/* #endregion */

/* #region - slideshow */

.slideshow-container {
  /* background: #0000002c; */
  width: 100%;
  margin: auto;
  margin-top: 14.5rem;
  padding: 22px 0;
}

@media screen and (max-width: 460px) {
  .slideshow-container {
    margin-top: 12rem;
  }
}

.slideshow-items-content {
  position: relative;
  width: 100%;
  max-width: 550px;
  padding: 0 8px;
}

.slide-item {
  display: none;
}

.slide-item img {
  vertical-align: center;
  /* width: 100%;
  height: 400px; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  /* aspect-ratio: 4/3; */
  /* aspect-ratio: 16/9; */
  object-fit: fill;
}

@media screen and (max-width: 750px) {
  .slide-item img {
    height: unset;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transform: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: rgba(0, 0, 0, 0.204);
  transition: 0.4s background-color;
}

.next {
  right: -50px;
  border-radius: 3px;
}
.prev {
  left: -50px;
  border-radius: 3px;
}

.next:hover,
.prev:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dots-content {
  text-align: center;
  margin-top: 25px;
  border-radius: 30px;
  /* background: #00000018; */
  padding: 8px 33px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: var(--slideshow-dot-non-active-bg-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s;
}

.dot.active,
.dot:hover {
  background: var(--slideshow-dot-active-bg-color);
}

.fade {
  -webkit-animation-name: fadeWithScale;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeWithScale;
  animation-duration: 0.4s;
}

/* responsive */

@media only screen and (max-width: 800px) {
  .prev,
  .next {
    font-size: 1.2rem;
  }

  .next {
    right: 8px;
  }
  .prev {
    left: 8px;
  }
}

/* #endregion */

/* #region - title header */

.title-section {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 33px;
}

.title-section .title-content {
  width: 100%;
  max-width: 200px;
  border: 12px solid transparent;
  border-image: url("../img/title-border.png") 80;
  border-radius: 5px;
  position: relative;
}

.title-wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 6px 0;
  position: relative;
  top: -2px;
}

.title-section .title-content .title-text {
  color: var(--main-color);
  font-size: 1.4rem;
  font-weight: 600;
}

/* #endregion */

/* #region - aboutUs section */

.aboutUs-container {
  width: 100%;
  padding: 0 22px;
}

.aboutUs-container .aboutUs-content {
  background: var(--aboutUs-bg-color);
  border: var(--aboutUs-border);
  width: 100%;
  width: 1000px;
  padding: 30px 5%;

  border-radius: 30px;
}

.aboutUs-container .aboutUs-content p {
  font-size: 1.2rem;
  color: var(--aboutUs-text-color);
  line-height: 180%;
  text-align: center;

  display: block;
  opacity: 0;
  animation: reveal 0.5s forwards var(--d);
}

.aboutUs-container .aboutUs-content p:last-child {
  margin-top: 20px;
}

/* #endregion */

/* #region - our products section */

.product-mb-title {
  width: 100%;
  text-align: center;
  display: none;
}

.product-mb-title .content-wrapper {
  background: #000000af;
  border-radius: 8px;
  width: 100%;
  max-width: 250px;
  padding: 14px 0;
  border: 3px solid var(--main-color);
}

.product-mb-title.hide {
  display: none;
}
.product-mb-title.show {
  display: flex;
}

.product-mb-title .content-wrapper p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--main-color);
  height: 100%;
}

/* -------------------- */

.ourProducts-container {
  width: 100%;

  padding: 0 12px;
  margin-top: 20px;
}

.ourProducts-content {
  width: 100%;
  /* height: 500px; */
  height: 100%;
}

.products-view-items-container::-webkit-scrollbar {
  width: 5px;
}

.products-view-items-container::-webkit-scrollbar-track {
  background: #a9a9a995;
}

.products-view-items-container::-webkit-scrollbar-thumb {
  background: #5b9595;
  border-radius: 3px;
}

/* #region products list */

.products-list-container {
  background: var(--ourProducts-products-list-bg);
  border: 3px solid #ccac56;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 30px 0px 30px 0;
  height: 100%;
  width: 100%;
  max-width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeAnimation 0.5s;
}

.products-list-container .content-wrapper {
  width: 100%;
  height: 490px;
}

.products-list-container .products-list-content {
  height: 100%;
}

.products-list-container .products-list-content .product-list-link {
  position: relative;
  color: var(--ourProducts-products-list-link-color);
  font-size: 1.5rem;
  z-index: 1;
  text-align: center;
  padding: 18px 22px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: 0.2s color;
  width: 100%;
  max-width: 280px;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1085px) {
  .products-list-container .products-list-content .product-list-link {
    background: #4b7070;
    border-radius: 5px;
    border: 1px solid #3e5d5d;
    max-width: 250px;
  }
}

.products-list-container .products-list-content .product-list-link:last-child {
  border: none;
}

.products-list-container .products-list-content .product-list-link.active::after {
  content: "";
  position: absolute;
  background: var(--ourProducts-products-list-link-active-bg);
  z-index: -99;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 25px 5px 25px 5px;
  border: var(--ourProducts-products-list-link-border);
  animation: product_list_link_animation 200ms forwards ease-in;
}

.products-list-container .products-list-content .product-list-link.active {
  cursor: default;
}

.products-list-container .products-list-content .product-list-link:hover:not(.product-list-link.active) {
  color: rgb(220, 220, 220);
}
/* #endregion */

/* #region products items view */

/*  */
.products-view-items-container {
  height: 500px;
  max-width: 740px;
  width: 100%;
  background: var(--ourProducts-products-view-bg);
  border: 1px solid #4c4c4c2b;
  border-bottom: 5px solid rgba(128, 128, 128, 0.391);
  margin-left: 6px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 1085px) {
  .product-mb-title {
    display: block;
  }
  .products-list-container {
    display: flex;
  }

  .products-view-items-container {
    display: none;
    max-width: 690px;
  }

  .products-list-container.mb-active,
  .products-view-items-container.mb-active {
    display: flex;
  }

  .products-view-items-container.no-display,
  .products-list-container.no-display {
    display: none;
  }

  .products-list-container .products-list-content .product-list-link.active::after {
    display: none;
  }

  .products-list-container .content-wrapper {
    /* padding: 8px 5px; */
    height: 450px;
  }
}

@media screen and (max-width: 855px) {
  .products-view-items-container {
    /* max-width: 600px; */
  }
  .products-view-items-container {
    justify-content: space-evenly;
    overflow: hidden;
    height: 100%;
  }

  .products-view-items-container .product-item-view {
    width: 47%;
  }

  .products-view-items-container .view-group-content {
    justify-content: center;
  }
}

.products-view-items-container .content-wrapper {
  align-items: flex-start;
}

@media screen and (max-width: 760px) {
  .products-view-items-container {
    max-width: 600px;
  }
}

.products-view-items-container .view-group-content {
  display: none;
  gap: 5px 20px;
  padding: 5px 3px;
  width: 100%;
  max-width: 700px;
}

.products-view-items-container .view-group-content.active {
  display: flex;
}

.products-view-items-container .product-item-view {
  position: relative;
  width: 210px;
  height: 100%;
  padding: 16px 8px 16px 8px;
  transition: 0.3s border;
  opacity: 0;

  animation: reveal 0.4s forwards;
}

.products-view-items-container .product-item-view:hover {
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.306); */
}

.product-item-view .product-item-img-content {
  position: relative;
}

.product-item-view .product-item-img-content img {
  width: 100%;
  height: 100%;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 30px 0px 30px 0px;
  border: var(--ourProducts-products-view-img-item-border);
}

.product-item-view .item-title {
  background-color: var(--ourProducts-products-view-title-bg-color);
  font-size: 0.9rem;
  user-select: none;
  text-align: center;
  line-height: 140%;
  font-weight: 500;
  color: #ffff;
  margin-top: 0.3rem;
  padding: 6px 0;
  border-radius: 15px 0px 15px 0px;
  border: 3px solid #2f464666;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.product-item-view .product-item-img-content .view-more-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 98%;
  width: 100%;
  border-radius: 30px 0px 30px 0px;
  background: #0000006a;
  opacity: 0;
  transition: 400ms opacity;
}

.product-item-view .product-item-img-content:hover .view-more-content {
  opacity: 1;
}

.product-item-view .product-item-img-content .view-more-content p {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: 1px solid #ffff;
  border-radius: 6px;
  padding: 8px 14px;
  transition: 300ms color, 300ms background-color;
  cursor: pointer;
}

.product-item-view .product-item-img-content .view-more-content p:hover {
  background: #ffff;
  border: 1px solid #3a3939;
  color: var(--secondary-color);
}

@media screen and (max-width: 515px) {
  .products-view-items-container .content-wrapper {
    padding: 8px 3px;
  }

  .products-view-items-container .product-item-view {
    width: 50%;
  }

  .products-view-items-container .view-group-content {
    justify-content: space-evenly;
    gap: 0;
  }

  .product-item-view .product-item-img-content .view-more-content p {
    padding: 8px 10px;
  }
}

/* #endregion */

/* #region products items view */

.products-view-back-content {
  display: none;
  margin-top: 33px;
}

.products-view-back-content.mb-active {
  display: flex;
}

.products-view-back-content .product-back-btn {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffff;
  outline: none;
  border: 3px solid #cda432;
  background-color: rgba(0, 0, 0, 0.42);
  padding: 15px 33px;
  border-radius: 6px;
  transition: 300ms all;
}

.products-view-back-content .product-back-btn:hover {
  border: 3px solid #b4912f;
  background: #cda432;
  color: #fff;
}

@media screen and (max-width: 1060px) {
  .products-view-back-content.mb-active {
    display: flex;
  }
}

/* #endregion */

/* #endregion */

/* #region - contact us section */

.contactInfo-container {
  background: #00000025;
  width: 100%;
  padding: 22px 12px;
}

.contactInfo-container .content-wrapper {
  max-width: 850px;
  width: 100%;
  padding: 0 8px;
}

.contactInfo-container .contactInfo-left-section,
.contactInfo-container .contactInfo-right-section {
  max-width: 400px;
  width: 100%;
}

.contactInfo-item {
  margin-bottom: 12px;
  margin-right: 5px;
  height: 50px;
  width: 100%;
}

.contactInfo-item:last-child {
  margin-bottom: 0;
}

.contactInfo-item .contact-svg-icon {
  background: #fdfdf0;
  border: 1px solid gray;
  width: 60px;
  margin-right: 3px;
  border: 2px solid #bf96248f;
}

.contactInfo-item .contact-svg-icon i {
  width: 30px;
  height: 30px;
}

.contactInfo-item .contact-svg-icon .mobile-svg {
  margin-left: 5px;
}
.contactInfo-item .contact-svg-icon .email-svg {
  margin-top: 5px;
  margin-left: 2px;
  width: 35px;
}

.contactInfo-item .contactInfo-text-link {
  border: 2px solid #bf96248f;
  background: #fdfdf0;
  color: var(--secondary-color);
  max-width: 400px;
  width: 100%;
  cursor: pointer;
}

.contactInfo-item .contactInfo-text-link p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .contactInfo-container .contactInfo-left-section,
  .contactInfo-container .contactInfo-right-section {
    max-width: 330px;
  }
}

@media screen and (max-width: 880px) {
  .contactInfo-container .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contactInfo-container .contactInfo-left-section {
    margin-bottom: 14px;
  }
}

/* #endregion */