.svg {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
}

.menu-svg {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='27' viewBox='0 0 33 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V3.79044H32.9038V0H0ZM0 11.2576V15.048H32.9038V11.2576H0ZM0 22.6289V26.4193H32.9038V22.6289H0Z' fill='%23669999'/%3E%3C/svg%3E%0A");
}
