html {
  --main-color: #CCAC56;
  --secondary-color: #669999;
  --main-border-color: #CCAC56;

  --mobile-menu-btn-bg: rgb(101, 75, 0);

  --nav-menu-selected-border-color: rgba(204, 161, 45, 0.66);
  --slideshow-dot-active-bg-color: #DDB74F;
  --slideshow-dot-non-active-bg-color: rgba(0, 0, 0, 0.264);

 
  --aboutUs-bg-color: #669999;
  --aboutUs-text-color: #ffff;
  --aboutUs-border: 5px solid #CCAC56;


  --ourProducts-products-list-bg: #669999;
  --ourProducts-products-list-link-color: #ffff;
  --ourProducts-products-list-link-active-bg: rgb(193, 162, 76);
  --ourProducts-products-list-link-border: 1px solid rgb(239, 194, 69);

  --ourProducts-products-view-bg: #ffffff81;
  --ourProducts-products-view-img-item-border: 3px solid #527b7b8c;
  --ourProducts-products-view-title-bg-color: #527b7b;
 }